<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/favourite.css">
    <title>Favourite</title>
</head>
<body>
    <header>
        <h2><a href="index.html">TweetAway</a></h2>
        <nav>
            
            <ul>
                <li><a href="retweet.html">Retweet</a></li>
                <li><a href="following.html">Follow/Following</a></li>
                <li><a href="mentions.html">Mentions</a></li>
            </ul>
        </nav>
    </header>
    <div class = 'container'>
        <p>from @username to @other_username: Tweet says...</p>
        <p>from @username to @other_username: Tweet says...</p>
        <p>from @username to @other_username: Tweet says...</p>
        <p>from @username to @other_username: Tweet says...</p>
        
    </div>
        
</body>
</html>