<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="split top-left">
        <div class="centered">
          <a id = 'heart-hover' href="favourite.html"><img src="https://icons-for-free.com/iconfiles/png/512/heart-131965017458786724.png" alt="Avatar woman"></a>
          <h2>Favourite</h2>
          
        </div>
      </div>
      
      <div class="split top-right">
        <div class="centered">
            <a href="retweet.html"><img src="https://icons-for-free.com/iconfiles/png/512/retweet+share+twitter+icon-1320196018969923491.png" alt="Avatar man"></a>
          <h2>Retweet</h2>
          
        </div>
      </div>

      <div class="split bottom-left">
        <div class="centered">
            <a href="following.html"><img src="https://icons-for-free.com/iconfiles/png/128/people+18px-131987943274543773.png" alt="Avatar woman"></a>
          <h2>Followers/Following</h2>
          
        </div>
      </div>
      
      <div class="split bottom-right">
        <div class="centered">
            <!--form action="/autoreply" method = "post"--><img src="https://logodix.com/logo/649370.png" href='/autoreply'>{{ url_for('mentions.html') }}
              <!--input name="name" type="text">
              <input type="hidden">
              
            </form-->
          <h2>Mentions</h2>
          
        </div>
      </div>

</body>
</html>